/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import '@angular/cdk/overlay-prebuilt.css';

@theme {
    --color-primary: blue;
    --color-success: green;
    --color-error: red;
}